<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/dashboard.css">
</head>

<body>
  <div class="layout">

    <a class="header" href="#0">
      <i class="fa fa-bars"></i> .<h1>Student Management System</h1>
      <div class="header-user"><i class="fas fa-user-circle icon"></i>Hello {{email}}</div>
    </a>

    <div class="sidebar">
      <ul>
        <li> <a class="sidebar-list-item" href="/dashboard"> <i class="fas fa-home icon"></i><em>Dashboard</em></a></li>
        <li> <a class="sidebar-list-item" href="/newadmission"> <i class="fas fa-tasks icon"></i><em>New
              Admission</em></a></li>
        <li> <a class="sidebar-list-item " href="/csd"> <i class="fas fa-user icon"></i><em>Check Student
              Details</em></a></li>
        <li> <a class="sidebar-list-item " href="/account"> <i class="fas fa-user icon"></i><em>Account</em></a></li>
        <li> <a class="sidebar-list-item active" href="/pfee"> <i class="fas fa-user icon"></i><em>Pay Fees</em></a>
        </li>
        <li> <a class="sidebar-list-item" href="/events"> <i class="fas fa-calendar icon"></i><em>Events</em></a>
        </li>
        <li> <a class="sidebar-list-item" href="/cresult"> <i class="fas fa-toolbox icon"></i><em>Check Result</em></a>
        </li>
        <li> <a class="sidebar-list-item" href="users"> <i class="fas fa-comments icon"></i><em>User</em></a></li>
        <li> <a class="sidebar-list-item" href="logouts"> <i class="fas fa-lightbulb icon"></i><em>LOg Out</em></a>
        </li>
      </ul>
    </div>

    <main class="content">
      <div class="main-header">
        <div class="main-title">
          <h1>Pay Fee</h1>
        </div>
        <div class="main-form">
          <form action="/pay" method="post">
            <input type="text" name="sname" id="" placeholder="Student Name">
            <input type="text" name="fname" id="" placeholder="Father's Name">
            <input type="text" name="class" id="" placeholder="Class">
            <input type="submit" value="Pay">
          </form>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="footer_sign">developer : <span class="fas fa-heart"></span> <a href="https://madhavns.com.np/"
          target="blank">Madhav Nandan Singh</a></div>
    </footer>

  </div>
</body>

</html>